<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/static/js/jquery-3.6.3.min.js}"></script>
    <link th:href="@{/static/css/halfmoon-variables.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
</head>
<body class="dark-mode">

<div th:insert="~{/public/header}" class="with-navbar  position-fixed z-50 w-full"/>


<!--主体界面开始-->
<div class="container " style="margin-top: 60px">
    <div class="row">
        <!--文章预览界面开始-->
        <div class="col-12 col-xl-8 justify-content-around">
            <div class="row">
                <p class="col-12 shadow-lg border pagination-rounded  notice-link px-15 pl-10 py-5 text-extra-letter-spacing  text-monospace font-size-12 mb-20"
                   rel="noopener">
                    <i class="fa fa-bell-o text-left " aria-hidden="true">最新说说：</i>
                    <span class="text-center" th:text="${siteInfo.notice}">公告</span>
                </p>
            </div>
            <!--文章预览开始-->
            <div class="row">
                <div th:each="article:${articles}" class="card mt-0">
                    <h2  th:text="${article.title}" class="card-title"></h2>

                    <p th:if="${#strings.length(article.content) >= 200}" th:text="${#strings.substring(article.content, 0, 200) + '...'}"></p>
                    <p th:if="${#strings.length(article.content) <= 200}" th:text="${article.content}  + '...'"></p>
                    <div class="text-right"> <!-- text-right = text-align: right -->
                        <a th:href="@{'/articles/' + ${article.id}}" class="btn">阅读更多</a>
                    </div>
                </div>
            </div>
            <!--文章预览结束-->

            <div class="row justify-content-center">
                <!--分页按钮组开始-->
                <!--TODO:分页功能-->
                <!--分页按钮组结束-->
            </div>
        </div>
        <!--文章预览界面结束-->

        <!--右边信息框开始-->
        <div class="col-12 col-xl-4  p-20">
            <div class="row  border rounded shadow-lg">
                <div class="card text-center p-20 m-0 w-full">
                    <div class="text-center">
                        <img th:src="@{/static/images/head.JPG}" class="w-150 img-fluid rounded-circle rounded"
                             alt="...">
                    </div>
                    <div class="content">
                        <h2 class="content-title">
                            DreamCode
                        </h2>
                        <p class="text-muted">
                            Talk is cheap, show me the code.
                        </p>
                        <div id="social">
                            <a href="#" class="btn btn-square btn-primary rounded-circle" role="button"><i
                                    class="fa fa-wechat" aria-hidden="true"></i></a>
                            <a href="#" class="btn btn-square btn-primary rounded-circle" role="button"><i
                                    class="fa fa-qq" aria-hidden="true"></i></a>
                            <a href="#" class="btn btn-square btn-primary rounded-circle" role="button"><i
                                    class="fa fa-envelope" aria-hidden="true"></i></a>
                            <a href="#" class="btn btn-square btn-primary rounded-circle" role="button"><i
                                    class="fa fa-github" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-20 mb-20 row  border rounded shadow-lg">
                <div class="card text-left p-20 m-0 w-full">
                    <div class=" font-size-22">
                        <i class="fa fa-wechat" aria-hidden="true"></i>
                        公告
                    </div>
                    <div class="content">
                        <p>项目源码在上方Github处，交流群号2086141419，感谢大家支持</p>
                    </div>
                </div>
            </div>
            <div class="mt-20 mb-20 row  border rounded shadow-lg">
                <div class="card text-left p-20 m-0 w-full">
                    <div class=" font-size-22">
                        <i class="fa fa-signal" aria-hidden="true"></i>
                        网站资讯
                    </div>
                    <div class="content font-size-12 ">
                        <table class="table border-0">
                            <tr>
                                <td class="text-left">运行时间：</td>
                                <td class="text-right">1142天16时53分15秒</td>
                            </tr>
                            <tr>
                                <td class="text-left">总访问量：</td>
                                <td class="text-right">168115</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--右边信息框结束-->

    </div>

</div>
<!--主体界面结束-->
<script th:src="@{/static/js/halfmoon.min.js}"></script>
</body>
</html>